body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
.Navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.Navigation ul li {
  padding: 0 10px;
}
.Navigation ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}
.Navigation ul li a:hover {
  color: red;
}